.tableRoot {
    border: 2px solid var(--separator);
    width: 100%;
    background-color: var(--purple-container-bg);
    color: var(--accent-text);
}

.emptyState{
   border: 2px solid var(--separator);
    width: 100%;
    background-color: var(--purple-container-bg);
    color: var(--accent-text);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
}

.headerCell {
    font-size: 2rem;
    font-weight: 700;
    color: var(--accent-text);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 2px solid var(--separator);
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
}

.cell {
    font-size: 1.5rem;
    color: var(--primary-text);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 1px solid var(--separator);
    margin: 0;
}

.headerInput {
    font-size: 2rem;
    color: var(--accent-text);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex: 1;
    background: transparent;
    padding: 4px;
    border: 2px solid var(--separator);
}

.cellInputWrapper {
    flex: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid var(--separator);
    min-height: 100px;
    width: 0;
}

.cellInput {
    font-size: 1.5rem;
    color: var(--primary-text);
    width: 100%;
    margin: 0;
    background: transparent;
    resize: none;
    padding: 4px;
    max-width: 100%;
    min-height: 100px;
}

.cellInput[contenteditable]:empty::before {
    content: "Type here...";
    color: gray;
}
