.btn {
    width: 128px;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 8px;
    margin-top: auto;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--primary-btn);
    color: var(--primary-text);
}
